<%
  const rowSpanClass = (typeof rowSpan !== 'undefined' && rowSpan) ? `md:row-span-${rowSpan}` : '';
  const colSpanClass = (typeof colSpan !== 'undefined' && colSpan) ? `md:col-span-${colSpan}` : '';
  const spanClass = [rowSpanClass, colSpanClass].filter(Boolean).join(' ');
  const _iconClass = (typeof iconClass !== 'undefined' && iconClass) ? iconClass : 'fas fa-square';
  const _title = (typeof title !== 'undefined' && title) ? title : '';
  const _actions = (typeof actions !== 'undefined' && actions) ? actions : '';
  const _content = (typeof content !== 'undefined' && content) ? content : '';
%>
<div class="<%= spanClass %> h-full">
  <div class="bg-white rounded-xl shadow border border-gray-200 p-4 h-full flex flex-col">
    <%- include('partials/widget-header', { iconClass: _iconClass, title: _title, actions: _actions }) %>
    <%- _content %>
  </div>
</div>
