services:
  # Node.js App Service (Web)
  web:
    image: onis-web-app:latest
    container_name: node-web-app
    ports:
      - "9229:9229"
    depends_on:
      - mongo
    environment:
      - MONGODB_URI=mongodb://mongo:27017/mein-app-db
      - REGISTRATION_ENABLED=true
      - MTLS_AUTO_LOGIN_ENABLED=true
      - MTLS_REQUIRE_SUCCESS=true
      - MTLS_DN_ATTRIBUTE=CN
      - MTLS_MATCH_FIELD=username
      - MTLS_FALLBACK_TO_EMAIL=true
      - MTLS_AUTO_PROVISION_ENABLED=true
      - MTLS_AUTO_PROVISION_DEFAULT_ROLE=user
      - MTLS_AUTO_PROVISION_USE_OU_FOR_ROLE=true
      - MTLS_AUTO_PROVISION_RANDOM_PASSWORD_LENGTH=32
      - MTLS_AUTO_PROVISION_ALLOW=true
      - MENU_FLATTEN_SINGLE_DROPDOWN=true
    command: ["npm", "start"]
    logging:
      driver: "json-file"

  # MongoDB Service
  mongo:
    image: mongo:6.0
    container_name: mongodb
    volumes:
      - /root/publish/mongo-data:/data/db

  # Mongo Express (MongoDB Web-GUI)
  mongo-express:
   image: mongo-express
   container_name: mongo-express
   restart: always
   ports:
     - "8081:8081" 
   environment:
     ME_CONFIG_MONGODB_SERVER: mongo 
     ME_CONFIG_MONGODB_PORT: 27017 
     ME_CONFIG_BASICAUTH_USERNAME: user 
     ME_CONFIG_BASICAUTH_PASSWORD: password 
   depends_on:
     - mongo

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/etc/nginx/certs:ro
    depends_on:
      - web

volumes:
  mongo-data:
