services:
  # Node.js App Service (Web)
  web:
    image: onis-web-app:latest
    container_name: node-web-app
    ports:
      - "4000:4000"
      - "9229:9229"
    depends_on:
      - mongo
    environment:
      - NODE_ENV=production
      - PORT=4000
      - MONGODB_URI=mongodb://mongo:27017/mein-app-db
      - COOKIE_SECURE=true
      - JWT_SECRET=awdjwakdjj4l324j2v2jn4234423lj4n2l4j2fejlk23j4l23j4l23j4l23j4l23
      - SESSION_SECRET=kdlwke3km333282jgrkjk34758923498jfklsdfjlsdfjsldfjsldfjsldfjsldfjsldfjsld
      # Optional tunables (uncomment to override defaults)
      # - ACCESS_TOKEN_TTL=15m
      # - REFRESH_TOKEN_TTL=30d
      # - MAX_REFRESH_TOKENS=10
    command: ["npm", "start"]
    logging:
      driver: "json-file"

  # MongoDB Service
  mongo:
    image: mongo:6.0
    container_name: mongodb
    volumes:
      - mongo-data:/data/db 

  # Mongo Express (MongoDB Web-GUI)
  mongo-express:
   image: mongo-express
   container_name: mongo-express
   restart: always
   ports:
     - "8081:8081" 
   environment:
     ME_CONFIG_MONGODB_SERVER: mongo 
     ME_CONFIG_MONGODB_PORT: 27017 
     ME_CONFIG_BASICAUTH_USERNAME: user 
     ME_CONFIG_BASICAUTH_PASSWORD: password 
   depends_on:
     - mongo

volumes:
  mongo-data:
